/* Обща настройка */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    padding-top: 0px;
}

.hero {
    background: url('/kupi/5.jpg') no-repeat center center/cover;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlay {
    background-color: rgba(107, 104, 104, 0.6);
    width: 50%;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 8px;
}

.content {
    padding: 40px 20px;
    text-align: center;
}

.history-text {
    margin-bottom: 40px;
}

.history-text h2 {
    font-size: 2.2rem;
    color: #003366;
    margin-bottom: 20px;
}

.history-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}

/* Ключови моменти */
.key-moments {
    background-color: #003366;
    padding: 40px;
    color: white;
    border-radius: 8px;
}

.key-moments h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.moment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.year {
    font-size: 1.8rem;
    font-weight: bold;
    width: 100px;
    text-align: center;
    background-color: #005bb5;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
}

.moment p {
    font-size: 1.2rem;
    color: white;
}

