.lineup-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #007bff;
    margin-bottom: 10px;
}

h3 {
    color: #333;
}

.current-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.player {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    text-align: center;
}

.player img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

body{
    background-color: rgba(17, 24, 39, 0.9);
    
}

