body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin-top: 20px;
}

.div-schedule {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.div-schedule h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    justify-content: center;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

td img {
    width: 50px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle; 
}
