* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}



.stadium-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stadium {
    margin-bottom: 40px;
}

.stadium-container h1 {
    color: #007bff;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
}

.stadium-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.stadium-gallery img {
    width: 30%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.stadium-gallery img:hover {
    transform: scale(1.01);
}
